<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CarLand.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CarLand.Properties.Settings.IntegradoraConnectionString"
            connectionString="Data Source=DESKTOPMARTINS\SQLEXPRESS;Initial Catalog=Integradora;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CarLand.Properties.Settings.IntegradoraConnectionStringRamires"
            connectionString="Data Source=DESKTOP-A7N9OKQ\SQLEXPRESS01;Initial Catalog=Integradora;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CarLand.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>Blue</value>
            </setting>
        </CarLand.Properties.Settings>
    </userSettings>
</configuration>